Source: libcariad-toolkit-widgets
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-toolkit-widgets
Replaces: libdisplaycore-toolkit-widgets
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Toolkits
Depends: libcariad-core
Provides: Widgets.h
Description: Widgets
 Basic widget set for Cariad



